@media (max-width: 768px) {
  .app {
    flex-direction: column;
    justify-content: flex-start;
  }

  .generator-form {
    width: 100%;
  }

  .generator-form__input {
    width: 100%;
  }

  .generator-result {
    width: 100%;
    margin-top: 20px;
    padding: 0 10px;
    font-size: 28px;
  }

  .generator-result__hint {
    font-size: 32px;
  }

  .generator-result__value {
    font-size: 150%;
  }
}