@import "base";
@import "generator-form";
@import "generator-result";


.app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  @media (max-width: 768px) {
    flex-direction: column;
    justify-content: flex-start;
  }
}



